<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>


<!-- Aca llamo el componente que al principio esta vacio -->
<!-- Ejercicio 1 -->
<!-- <app-binding></app-binding> -->

<!-- Ejercicio clase 1, punto 2 -->

<!-- <app-login></app-login> -->
<!-- <app-bienvenido></app-bienvenido>
<app-error></app-error> -->
